{% extends "base.html" %}
{% load static %}
{% block staticcss %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" type="text/css">
{% endblock staticcss %}
{% block content %}
<div class="flex column gap-4">
    <div class="w-2/6">
        <p class="text-center text-white my-2 bg-gray-600">2023-24</p>
        <ul class="mt-4">
            <li class="border-solid border rounded my-2 p-2 hover:bg-gray-600">
                <button class="flex grid grid-cols-10 w-full items-center">
                    <div>
                        <p class="text-white">3</p>
                        <p class="text-white">Sept</p>
                    </div>
                    <div class="flex justify-center items-center col-span-8">
                        <div>
                            <p class="text-white">vs MT. SAC</p>
                            <p class="text-white">3:20pm - 5:00pm</p>
                        </div>
                    </div>
                    <div>
                        <i class="fa fa-greater-than text-white text-center"></i>
                    </div>
                </button>
            </li>
            <li class="border-solid border rounded my-2 p-2 hover:bg-gray-600">
                <button class="flex grid grid-cols-10 w-full items-center">
                    <div>
                        <p class="text-white">10</p>
                        <p class="text-white">Sept</p>
                    </div>
                    <div class="flex justify-center items-center col-span-8">
                        <div>
                            <p class="text-white">vs Pasadena City Collage</p>
                            <p class="text-white">1:10pm - 2:05pm</p>
                        </div>
                    </div>
                    <div>
                        <i class="fa fa-greater-than text-white text-center"></i>
                    </div>
                </button>
            </li>
            <li class="border-solid border rounded my-2 p-2 hover:bg-gray-600">
                <button class="flex grid grid-cols-10 w-full items-center">
                    <div>
                        <p class="text-white">17</p>
                        <p class="text-white">Sept</p>
                    </div>
                    <div class="flex justify-center items-center col-span-8">
                        <div>
                            <p class="text-white">at Citrus Collage</p>
                            <p class="text-white">4:55pm - 6:00pm</p>
                        </div>
                    </div>
                    <div>
                        <i class="fa fa-greater-than text-white text-center"></i>
                    </div>
                </button>
            </li>
        </ul>
    </div>
    <div class="w-2/6">
        <p class="text-center text-white my-2 bg-gray-600">vs MT. SAC - September 3, 2023</p>
        <ul class="mt-4">
            <li class="border-solid border rounded my-2 p-2 hover:bg-gray-600">
                <button class="flex grid grid-cols-10 w-full items-center">
                    <div>
                        <p class="text-white">1</p>
                        <p class="text-white">Sept</p>
                    </div>
                    <div class="flex justify-center items-center col-span-8">
                        <div>
                            <p class="text-white">Title of Practice 1</p>
                            <p class="text-white">Practice</p>
                        </div>
                    </div>
                    <div>
                        <i class="fa fa-greater-than text-white text-center"></i>
                    </div>
                </button>
            </li>
            <li class="border-solid border rounded my-2 p-2 hover:bg-gray-600">
                <button class="flex grid grid-cols-10 w-full items-center">
                    <div>
                        <p class="text-white">2</p>
                        <p class="text-white">Sept</p>
                    </div>
                    <div class="flex justify-center items-center col-span-8">
                        <div>
                            <p class="text-white">Friday defence Practice</p>
                            <p class="text-white">Practice</p>
                        </div>
                    </div>
                    <div>
                        <i class="fa fa-greater-than text-white text-center"></i>
                    </div>
                </button>
            </li>
            <li class="border-solid border rounded my-2 p-2 hover:bg-gray-600">
                <button class="flex grid grid-cols-10 w-full items-center">
                    <div>
                        <p class="text-white">3</p>
                        <p class="text-white">Sept</p>
                    </div>
                    <div class="flex justify-center items-center col-span-8">
                        <div>
                            <p class="text-white">Game vs MT. SAC</p>
                            <p class="text-white">Game</p>
                        </div>
                    </div>
                    <div>
                        <i class="fa fa-greater-than text-white text-center"></i>
                    </div>
                </button>
            </li>
        </ul>
    </div>
    <div class="w-2/6">
        <p class="text-center text-white my-2 bg-gray-600">Grades Overview: vs MT. SAC - September 3,
            2023</p>
        <div class="flex items-center grid grid-cols-10 w-full bg-gray-600 mt-4 p-2 rounded">
            <span class="flex justify-center items-center text-white col-span-8 text-4xl">Gared or
                Edit</span>
            <span class="flex justify-center items-center col-span-2">
                <i class="fa fa-greater-than text-white"></i>
            </span>
        </div>
        <div class="flex grid grid-cols-3 gap-2 my-2">
            <button
                class="bg-gray-500 text-white flex justify-center h-10 items-center hover:bg-gray-500 focus:bg-gray-500">OFFENSE</button>
            <button
                class="bg-gray-600 text-white flex justify-center h-10 items-center hover:bg-gray-500 focus:bg-gray-500">DEFENCE</button>
            <button
                class="bg-gray-600 text-white flex justify-center h-10 items-center hover:bg-gray-500 focus:bg-gray-500">SPECIAL
                TEAMS</button>
        </div>
        <ul class="mt-2">
            <li class="flex grid grid-cols-3 gap-2">
                <div>
                    <div class="text-white">
                        <p class="flex items-center justify-center w-full text-4xl">72</p>
                        <p class="flex items-center justify-center w-full">PLAYER</p>
                    </div>
                    <div class="wrapper flex items-center justify-center w-full">
                        <div class="card">
                            <div class="circle">
                                <div class="bar"></div>
                                <div class="box">
                                    <span class="assign-percent text-white">
                                    </span>
                                </div>
                            </div>
                            <p class="flex items-center justify-center w-full text-white">Assignment</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="text-white">
                        <p class="flex items-center justify-center w-full text-4xl">92</p>
                        <p class="flex items-center justify-center w-full">REPS</p>
                    </div>
                    <div class="wrapper flex items-center justify-center w-full">
                        <div class="card technique">
                            <div class="circle">
                                <div class="bar"></div>
                                <div class="box">
                                    <span class="assign-percent text-white">
                                    </span>
                                </div>
                            </div>
                            <p class="flex items-center justify-center w-full text-white">Technique</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="text-white">
                        <p class="flex items-center justify-center w-full text-4xl">B+</p>
                        <p class="flex items-center justify-center w-full">GRADE</p>
                    </div>
                    <div class="wrapper flex items-center justify-center w-full">
                        <div class="card grade">
                            <div class="circle">
                                <div class="bar"></div>
                                <div class="box">
                                    <span class="assign-percent text-white">
                                    </span>
                                </div>
                            </div>
                            <p class="flex items-center justify-center w-full text-white">Effort</p>
                        </div>
                    </div>
                </div>
            </li>
            <hr class="h-px mb-4 border-0 bg-gradient-to-r from-slate-600 via-slate-300 to-slate-600">
            <li class="flex grid grid-cols-3 gap-2">
                <div>
                    <div class="text-white">
                        <p class="flex items-center justify-center w-full text-4xl">72</p>
                        <p class="flex items-center justify-center w-full">PLAYER</p>
                    </div>
                    <div class="wrapper flex items-center justify-center w-full">
                        <div class="card">
                            <div class="circle">
                                <div class="bar"></div>
                                <div class="box">
                                    <span class="assign-percent text-white">
                                    </span>
                                </div>
                            </div>
                            <p class="flex items-center justify-center w-full text-white">Assignment</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="text-white">
                        <p class="flex items-center justify-center w-full text-4xl">92</p>
                        <p class="flex items-center justify-center w-full">REPS</p>
                    </div>
                    <div class="wrapper flex items-center justify-center w-full">
                        <div class="card technique">
                            <div class="circle">
                                <div class="bar"></div>
                                <div class="box">
                                    <span class="assign-percent text-white">
                                    </span>
                                </div>
                            </div>
                            <p class="flex items-center justify-center w-full text-white">Technique</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="text-white">
                        <p class="flex items-center justify-center w-full text-4xl">B+</p>
                        <p class="flex items-center justify-center w-full">GRADE</p>
                    </div>
                    <div class="wrapper flex items-center justify-center w-full">
                        <div class="card grade">
                            <div class="circle">
                                <div class="bar"></div>
                                <div class="box">
                                    <span class="assign-percent text-white">
                                    </span>
                                </div>
                            </div>
                            <p class="flex items-center justify-center w-full text-white">Effort</p>
                        </div>
                    </div>
                </div>
            </li>
            <hr class="h-px mb-4 border-0 bg-gradient-to-r from-slate-600 via-slate-300 to-slate-600">
            <li class="flex grid grid-cols-3 gap-2">
                <div>
                    <div class="text-white">
                        <p class="flex items-center justify-center w-full text-4xl">72</p>
                        <p class="flex items-center justify-center w-full">PLAYER</p>
                    </div>
                    <div class="wrapper flex items-center justify-center w-full">
                        <div class="card">
                            <div class="circle">
                                <div class="bar"></div>
                                <div class="box">
                                    <span class="assign-percent text-white">
                                    </span>
                                </div>
                            </div>
                            <p class="flex items-center justify-center w-full text-white">Assignment</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="text-white">
                        <p class="flex items-center justify-center w-full text-4xl">92</p>
                        <p class="flex items-center justify-center w-full">REPS</p>
                    </div>
                    <div class="wrapper flex items-center justify-center w-full">
                        <div class="card technique">
                            <div class="circle">
                                <div class="bar"></div>
                                <div class="box">
                                    <span class="assign-percent text-white">
                                    </span>
                                </div>
                            </div>
                            <p class="flex items-center justify-center w-full text-white">Technique</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="text-white">
                        <p class="flex items-center justify-center w-full text-4xl">B+</p>
                        <p class="flex items-center justify-center w-full">GRADE</p>
                    </div>
                    <div class="wrapper flex items-center justify-center w-full">
                        <div class="card grade">
                            <div class="circle">
                                <div class="bar"></div>
                                <div class="box">
                                    <span class="assign-percent text-white">
                                    </span>
                                </div>
                            </div>
                            <p class="flex items-center justify-center w-full text-white">Effort</p>
                        </div>
                    </div>
                </div>
            </li>
            <hr class="h-px mb-4 border-0 bg-gradient-to-r from-slate-600 via-slate-300 to-slate-600">
        </ul>
    </div>
</div>
{% endblock content %}
{% block staticjs %}
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock staticjs %}