{% block gamemodal %}
<!-- Modal for add game-->
<div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center"
    id="modal-id">
    <div class="relative w-3/6 my-6">
        <!--content-->
        <div class="border-0 rounded shadow-lg relative flex flex-col w-full outline-none focus:outline-none">
            <!--header-->
            <div class="flex items-center justify-between text-white p-5 bg-gray-600">

                <button
                    class="p-1 bg-transparent border-0 float-right text-3xl leading-none font-semibold outline-none focus:outline-none hover:text-red-500"
                    type="button" onclick="toggleModal('modal-id')">
                    <i class="fa fa-circle-xmark"></i>
                </button>
                <h3 class="text-3xl flex justify-center items-center">
                    NEW GAME
                </h3>
                <form action="" method='POST'>{% csrf_token %}
                    <button onclick='newgame()'
                        class="p-1 bg-transparent border-0 float-right text-3xl leading-none font-semibold outline-none focus:outline-none hover:text-green-500"
                        type="submit" onclick="toggleModal('modal-id')">
                        <i class="fa fa-circle-check"></i>
                    </button>
            </div>
            <!--body-->
            <div class="relative p-6 flex-auto bg-gray-700 justify-center">
                <div class="grid justify-center">
                    <label for="game_title" class="block mb-2 text-sm font-medium text-white flex justify-center">Game
                        Title</label>
                    <input type="text" id="game_title1" class="bg-gray-600 rounded p-2 text-white" placeholder="John"
                        required>
                </div>
                <div class="grid justify-cente mt-2">
                    <div>
                        <label for="game_title"
                            class="block mb-2 text-sm font-medium text-white flex justify-center">Event
                            Type</label>
                    </div>
                    <ul class="grid grid-cols-2 gap-x-5 max-w-md mx-auto">
                        <li class="relative">
                            <input class="sr-only peer" type="radio" value="GAME" name="event_type" id="eventname1">
                            <label
                                class="flex p-2 bg-gray-600 focus:bg-gray-500 hover:bg-gray-400 peer-checked:bg-gray-400 rounded justify-center text-white"
                                for="eventname1">GAME</label>
                        <li class="relative">
                            <input class="sr-only peer" type="radio" value="PRACTICE" name="event_type" id="eventname2">
                            <label
                                class="flex p-2 bg-gray-600 focus:bg-gray-500 hover:bg-gray-400 peer-checked:bg-gray-400 rounded justify-center text-white"
                                for="eventname2">PRACTICE</label>
                        </li>
                    </ul>
                </div>
                <div class="flex justify-between grid grid-cols-2 gap-4 mt-2">
                    <div class="flex justify-center">
                        <div>
                            <div class="text-white flex justify-center">
                                Select Event Date
                            </div>
                            <div class="relative mt-2">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <input datepicker type="text" id='date-picker'
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Select date">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="text-white flex justify-center">
                            Share with
                        </div>
                        {% if context %}
                        <div class="mt-2 bg-gray-500 rounded p-2">
                            <div class="flex items-center">
                                <input type="checkbox" value="only me" name='checkme' id="only-me"
                                    class="w-4 checkme h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="only-me"
                                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">only
                                    me</label>
                            </div>
                            <div class="flex items-center mt-2">
                                <input type="checkbox" value="Staff" name='checkme' id="staff"
                                    class="w-4 checkme h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="staff"
                                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Staff</label>
                            </div>
                            <div class="flex items-center mt-2">
                                <input type="checkbox" value="All Team" name='checkme' id="all-team"
                                    class="w-4 checkme h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="all-team"
                                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">All Team</label>
                            </div>
                            {% for member in context.team_member %}
                            <div class="flex items-center mt-2">
                                <input type="checkbox" value="{{member}}" name='checkme' id="{{member}}"
                                    class="w-4 checkme h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="{{member}}"
                                    class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{member}}</label>
                            </div>
                            {% endfor %}
                        </div>{% endif %}
                    </div>
                </div>
                </form>
            </div>
            <!--footer-->
            <!-- <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
                    
                </div> -->
        </div>
    </div>
</div>
<div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="modal-id-backdrop"></div>
</div>
{% endblock gamemodal %}
{% block staticjs %}
<script>

    function newgame() {
        {% comment %} var v = document.getElementById("#game_title1").value;
        console.log(v) {% endcomment %}

        var title = $("#game_title1").val();
        var events = document.querySelector('input[name="event_type"]:checked').value;
        var date = $('#date-picker').val();
        var sharelist = [];
        document.querySelectorAll('input[name="checkme"]:checked').forEach(function (e) {
            sharelist.push(e.value)
        });


        //{% comment %} var fav = [];
        //$.each($("input[name='checkme']:checked"), function(){            
        //    fav.push($(this).val());
        //}); {% endcomment %}
        data = {
            "title": title,
            "event": events,
            "date": date,
            "sharelist": sharelist
        }
        $.post("/addgame/", data)
    }
</script>{% endblock staticjs %}