{% load static %}
{% block header %}
<nav class="p-4 flex bg-slate-800">
    <div class="flex items-center w-80">
        <button class="p-1 mr-4 text-white" onclick="toggleSidebar()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>
    </div>
    <div class="flex justify-between items-center w-full">
        <div class="text-white">
            <form class="flex items-center">   
                <label for="simple-search" class="sr-only">Search</label>
                <div class="relative w-full">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                    </div>
                    <input type="text" id="simple-search" class="bg-gray-600 border text-white text-sm rounded-lg  block w-full pl-10 p-2.5" placeholder="Search or type command" required>
                </div>
                <!-- <button type="submit" class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                    <span class="sr-only">Search</span>
                </button> -->
            </form>
            
        </div>
        {% comment %} <div class="flex justify-center items-center">
            <!-- Button trigger modal for add game-->
            <!-- <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4" onclick="toggleModal('modal-id')">
            + Create
            </button> -->

            <button type="button" id="dropdown-create-btn" data-dropdown-toggle="dropdown-create"
                class="bg-blue-500 hover:bg-blue-600 text-white font-bold w-24 h-10 rounded">
                + Create
            </button>

            <div id="dropdown-create" class="z-10 bg-slate-800 w-max hidden">
                <div class="text-white flex justify-between p-4">
                    <div class="text-lg">+ Create</div>
                </div>
                <div class="p-2">
                    <ul>
                        <li class="flex items-center hover:bg-gray-700 py-2 px-4 msg-hover">
                            <div class="h-full">
                                <div class="flex items-center justify-center h-20 w-20 bg-green-300">
                                    <i class="fa fa-folder text-gray-500 text-4xl"></i>
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="items-center w-80">
                                    <div class="text-white">Create New Event/Folder</div>
                                </div>
                                <div class="mt-2 text-gray-500 grid">
                                    <span class="text-gray-500">Create a folder to hold all Plans that are</span>
                                    <span class="text-gray-500">within the game, training phase, or event.</span>
                                </div>
                            </div>
                        </li>
                        <li class="flex items-center hover:bg-gray-700 py-2 px-4 msg-hover">
                            <div class="h-full">
                                <div class="flex items-center justify-center h-20 w-20 bg-purple-300">
                                    <i class="fa fa-trophy text-gray-500 text-4xl"></i>
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="items-center w-80">
                                    <div class="text-white">Create a New Practice Plan</div>
                                </div>
                                <div class="mt-2 text-gray-500 grid">
                                    <span class="text-gray-500">Plan periods, set timers, and write scripts.</span>

                                </div>
                            </div>
                        </li>
                        <li class="flex items-center hover:bg-gray-700 py-2 px-4 msg-hover">
                            <div class="h-full">
                                <div class="flex items-center justify-center h-20 w-20 bg-yellow-200">
                                    <i class="fa fa-sheet-plastic text-gray-500 text-4xl"></i>
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="items-center w-80">
                                    <div class="text-white">Create a New Meeting Plan</div>
                                </div>
                                <div class="mt-2 text-gray-500 grid">
                                    <span class="text-gray-500">Plan your agenda and set time targets.</span>
                                </div>
                            </div>
                        </li>
                        <li class="flex items-center hover:bg-gray-700 py-2 px-4 msg-hover">
                            <div class="h-full">
                                <div class="flex items-center justify-center h-20 w-20 bg-orange-300">
                                    <i class="fa fa-folder text-gray-500 text-4xl"></i>
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="items-center w-80">
                                    <div class="text-white">Create a Workout Plan</div>
                                </div>
                                <div class="mt-2 text-gray-500 grid">
                                    <span class="text-gray-500">Plan your workout timers and exercies.</span>
                                </div>
                            </div>
                        </li>
                        <li class="flex items-center hover:bg-gray-700 py-2 px-4 msg-hover">
                            <div class="h-full">
                                <div class="flex items-center justify-center h-20 w-20 bg-blue-300">
                                    <i class="fa fa-user text-gray-500 text-4xl"></i>
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="items-center w-80">
                                    <div class="text-white">Create a New Team Member Account</div>
                                </div>
                                <div class="mt-2 text-gray-500 grid">
                                    <span class="text-gray-500">Add a new team member.</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="flex p-2 justify-center">
                    <button class="bg-blue-500 text-white h-16 w-96 text-xl">
                        View in message center
                    </button>
                </div>
            </div>

            <button id="dropdown-msg-btn" data-dropdown-toggle="dropdown-msg"
                class="text-white mx-6 text-2xl text-center inline-flex items-center " type="button"><i
                    class="fa fa-message"></i>
            </button>

            <!-- Message Dropdown -->

            <div id="dropdown-msg" class="z-10 bg-slate-800 w-max hidden">
                <div class="text-white flex justify-between p-4">
                    <div class="text-lg">Message</div>
                    <div class="text-lg">---</div>
                </div>
                <div class="p-4">
                    <ul>
                        <li class="flex items-center h-24 hover:bg-gray-700 p-4 msg-hover">
                            <div class="h-full relative">
                                <img src="{% static 'img/pexels-andrea-piacquadio-3779760.jpg' %}" alt=""
                                    class="object-cover h-full w-20">
                                <div class="pb-2 pr-2 hidden bg-gray-700 absolute left-0 top-0 box-in-out">
                                    <div class="h-4 w-4 bg-green-400"></div>
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="grid grid-cols-5 gap-3 items-center w-80">
                                    <div class="text-white">Jarret</div>
                                    <div class="text-white">Waelchi</div>
                                    <div class="flex bg-gray-700 text-gray-500 rounded-lg items-center justify-center">
                                        team
                                    </div>
                                    <div class="text-white">03:30PM</div>
                                    <div class="flex justify-center">
                                        <div class="bg-blue-600 w-4 h-4"></div>
                                    </div>
                                </div>
                                <div class="mt-2 text-gray-500">
                                    Don't forget about our meeting...
                                </div>
                            </div>
                        </li>
                        <li class="flex items-center h-24 hover:bg-gray-700 p-4 msg-hover">
                            <div class="h-full relative">
                                <img src="{% static 'img/pexels-anna-nekrashevich-6801642.jpg' %}" alt=""
                                    class="object-cover h-full w-20">
                                <div class="pb-2 pr-2 hidden bg-gray-700 absolute left-0 top-0 box-in-out">
                                    <div class="h-4 w-4 bg-green-400"></div>
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="grid grid-cols-5 gap-3 items-center w-80">
                                    <div class="text-white">Orval</div>
                                    <div class="text-white">Casper</div>
                                    <div class="flex bg-gray-700 text-gray-500 rounded-lg items-center justify-center">
                                        athlete</div>
                                    <div class="text-white">1 day</div>
                                    <div class="flex justify-center">
                                        <div class="bg-gray-400 w-4 h-4"></div>
                                    </div>
                                </div>
                                <div class="mt-2 text-gray-500">
                                    Bring notebooks and pens today...
                                </div>
                            </div>
                        </li>
                        <li class="flex items-center h-24 hover:bg-gray-700 p-4 msg-hover">
                            <div class="h-full relative">
                                <img src="{% static 'img/pexels-moose-photos-556068.jpg' %}" alt=""
                                    class="object-cover h-full w-20">
                                <div class="pb-2 pr-2 hidden bg-gray-700 absolute left-0 top-0 box-in-out">
                                    <div class="h-4 w-4 bg-green-400"></div>
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="grid grid-cols-5 gap-3 items-center w-80">
                                    <div class="text-white">Michel</div>
                                    <div class="text-white">Emard</div>
                                    <div class="flex bg-gray-700 text-gray-500 rounded-lg items-center justify-center">
                                        you
                                    </div>
                                    <div class="text-white">09:30AM</div>
                                    <div class="flex justify-center">
                                        <div class="bg-blue-600 w-4 h-4"></div>
                                    </div>
                                </div>
                                <div class="mt-2 text-gray-500">
                                    What are we wearing for practice?...
                                </div>
                            </div>
                        </li>
                        <li class="flex items-center h-24 hover:bg-gray-700 p-4 msg-hover">
                            <div class="h-full relative">
                                <img src="{% static 'img/pexels-pixabay-415829.jpg' %}" alt=""
                                    class="object-cover h-full w-20">
                                <div class="pb-2 pr-2 hidden bg-gray-700 absolute left-0 top-0 box-in-out">
                                    <div class="h-4 w-4 bg-green-400"></div>
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="grid grid-cols-5 gap-3 items-center w-80">
                                    <div class="text-white">Reuben</div>
                                    <div class="text-white">Ward</div>
                                    <div class="flex bg-gray-700 text-gray-500 rounded-lg items-center justify-center">
                                        team
                                    </div>
                                    <div class="text-white">08:00AM</div>
                                    <div class="flex justify-center">
                                        <div class="bg-gray-400 w-4 h-4"></div>
                                    </div>
                                </div>
                                <div class="mt-2 text-gray-500">
                                    Grade checks are due tomorrow...
                                </div>
                            </div>
                        </li>
                        <li class="flex items-center h-24 hover:bg-gray-700 p-4 msg-hover">
                            <div class="h-full relative">
                                <img src="{% static 'img/pexels-sound-on-3760856.jpg' %}" alt=""
                                    class="object-cover h-full w-20">
                                <div class="pb-2 pr-2 hidden bg-gray-700 absolute left-0 top-0 box-in-out">
                                    <div class="h-4 w-4 bg-green-400"></div>
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="grid grid-cols-5 gap-3 items-center w-80">
                                    <div class="text-white">Evalyn</div>
                                    <div class="text-white">Jenkins</div>
                                    <div class="flex bg-gray-700 text-gray-500 rounded-lg items-center justify-center">
                                        team
                                    </div>
                                    <div class="text-white">07:01AM</div>
                                    <div class="flex justify-center">
                                        <div class="bg-gray-400 w-4 h-4">
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2 text-gray-500">
                                    The six week period ends on Friday...
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="flex p-4 justify-center">
                    <button class="bg-blue-500 text-white h-16 w-96 text-xl">
                        View in message center
                    </button>
                </div>
            </div>

            <button id="dropdown-notification-btn" data-dropdown-toggle="dropdown-noti"
                class="text-white mx-6 text-2xl text-center inline-flex items-center " type="button"><i
                    class="fa fa-bell"></i>
            </button>
            <!-- Notification Dropdown -->
            <div id="dropdown-noti" class="z-10 bg-slate-800 w-max hidden">
                <div class="text-white flex justify-between p-4">
                    <div class="text-lg">Notification</div>
                    <div class="text-lg">---</div>
                </div>
                <div class="p-4">
                    <ul>
                        <li class="flex items-center h-24 hover:bg-gray-700 p-4">
                            <div class="h-full relative">
                                <img src="{% static 'img/pexels-sound-on-3760856.jpg' %}" alt=""
                                    class="object-cover h-full w-20">
                                <div class="pt-1 pl-1 bg-gray-700 absolute right-0 bottom-0 box-in-out">
                                    <div class="flex h-6 w-6 bg-blue-500 justify-center items-center text-white"><i
                                            class="fa fa-message"></i></div>
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="grid grid-cols-8 gap-3 items-center w-80">
                                    <div class="text-white col-span-2">Jarret</div>
                                    <div class="text-gray-400 col-span-4">@domenica</div>
                                    <div class="flex justify-start col-span-2 items-center grid-cols-2 gap-4">
                                        <div class="text-white">1h</div>
                                        <div class="bg-blue-600 w-4 h-4 rounded-full"></div>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <span class="text-gray-500">Comment on</span><span
                                        class="text-white font-medium ml-4">9/3/23 - Team</span>
                                </div>
                            </div>
                        </li>
                        <li class="flex items-center h-24 hover:bg-gray-700 p-4">
                            <div class="h-full relative">
                                <img src="{% static 'img/pexels-moose-photos-556068.jpg' %}" alt=""
                                    class="object-cover h-full w-20">
                                <div class="pt-1 pl-1 bg-gray-700 absolute right-0 bottom-0 box-in-out">
                                    <div class="flex h-6 w-6 bg-red-500 justify-center items-center text-white"><i
                                            class="fa fa-heart"></i></div>
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="grid grid-cols-8 gap-3 items-center w-80">
                                    <div class="text-white col-span-2">Ethal</div>
                                    <div class="text-gray-400 col-span-4">@ethal</div>
                                    <div class="flex justify-start col-span-2 items-center grid-cols-2 gap-4">
                                        <div class="text-white">2h</div>
                                        <div class="bg-blue-600 w-4 h-4 rounded-full"></div>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <span class="text-gray-500">Like on</span><span
                                        class="text-white font-medium ml-4">9/3/23 - 7 on 7</span>
                                </div>
                            </div>
                        </li>
                        <li class="flex items-center h-24 hover:bg-gray-700 p-4">
                            <div class="h-full relative">
                                <img src="{% static 'img/pexels-andrea-piacquadio-3779760.jpg' %}" alt=""
                                    class="object-cover h-full w-20">
                                <div class="pt-1 pl-1 bg-gray-700 absolute right-0 bottom-0 box-in-out">
                                    <div class="flex h-6 w-6 bg-green-400 justify-center items-center text-white"><i
                                            class="fa fa-basket-shopping"></i></div>
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="grid grid-cols-8 gap-3 items-center w-80">
                                    <div class="text-white col-span-2">Ethal</div>
                                    <div class="text-gray-400 col-span-4">@ethal</div>
                                    <div class="flex justify-start col-span-2 items-center grid-cols-2 gap-4">
                                        <div class="text-white">4h</div>
                                        <div class="bg-blue-600 w-4 h-4 rounded-full"></div>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <span class="text-gray-500">Suggestion</span><span
                                        class="text-white font-medium ml-4">9/3/23 - Warm-up</span>
                                </div>
                            </div>
                        </li>
                        <li class="flex items-center h-24 hover:bg-gray-700 p-4">
                            <div class="h-full relative">
                                <img src="{% static 'img/pexels-anna-nekrashevich-6801642.jpg' %}" alt=""
                                    class="object-cover h-full w-20">
                                <div class="pt-1 pl-1 bg-gray-700 absolute right-0 bottom-0 box-in-out">
                                    <div class="flex h-6 w-6 bg-purple-500 justify-center items-center text-white"><i
                                            class="fa fa-star"></i></div>
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="grid grid-cols-8 gap-3 items-center w-80">
                                    <div class="text-white col-span-2">Ethal</div>
                                    <div class="text-gray-400 col-span-4">@ethal</div>
                                    <div class="flex justify-start col-span-2 items-center grid-cols-2 gap-4">
                                        <div class="text-white">6h</div>
                                        <div class="bg-blue-600 w-4 h-4 rounded-full"></div>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <span class="text-gray-500">Request on</span><span
                                        class="text-white font-medium ml-4">9/3/23 - Team</span>
                                </div>
                            </div>
                        </li>
                        <li class="flex items-center h-24 hover:bg-gray-700 p-4">
                            <div class="h-full relative">
                                <img src="{% static 'img/pexels-pixabay-415829.jpg' %}" alt=""
                                    class="object-cover h-full w-20">
                                <div class="pt-1 pl-1 bg-gray-700 absolute right-0 bottom-0 box-in-out">
                                    <div class="flex h-6 w-6 bg-blue-500 justify-center items-center text-white"><i
                                            class="fa fa-message"></i></div>
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="grid grid-cols-8 gap-3 items-center w-80">
                                    <div class="text-white col-span-2">Ethal</div>
                                    <div class="text-gray-400 col-span-4">@ethal</div>
                                    <div class="flex justify-start col-span-2 items-center grid-cols-2 gap-4">
                                        <div class="text-white">8h</div>
                                        <div class="bg-blue-600 w-4 h-4 rounded-full"></div>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <span class="text-gray-500">Comment on</span><span
                                        class="text-white font-medium ml-4">9/3/23 - Warm-up</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="flex p-4 justify-center">
                    <button class="bg-blue-500 text-white h-16 w-96">
                        See all notifications
                    </button>
                </div>
            </div>

            <button id="dropdown-profile-btn" data-dropdown-toggle="dropdown-profile"
                class="text-white mx-6 text-2xl text-center inline-flex items-center " type="button">
                <img src="{% static 'img/Profile-Male-PNG.png' %}" alt="Profile img"
                    class="w-14 h-14 rounded-full object-cover">
            </button>

            <!-- Profile Dropdown -->

            <div id="dropdown-profile" class="z-10 bg-slate-800 w-48 hidden">
                <ul>
                    <li class="p-2 text-white hover:text-purple-600">
                        <a href="#" class="pl-2">Profile</a>
                    </li>
                    <li class="p-2 text-white hover:text-purple-600">
                        <a href="#" class="pl-2">Edit Profile</a>
                    </li>
                    <li class="p-2 text-white hover:text-purple-600">
                        <a href="#" class="pl-2">Upgrade to Pro</a>
                    </li>
                    <li class="p-2 text-white hover:text-purple-600">
                        <a href="#" class="pl-2">Account Settings</a>
                    </li>
                    <li class="p-2 text-white hover:text-purple-600">
                        <a href="#" class="pl-2">Log out</a>
                    </li>
                </ul>
            </div>
        </div> {% endcomment %}

        <div class="flex justify-center items-center">
            <button type="button" class="bg-blue-500 hover:bg-blue-600 text-white w-24 h-10 rounded mr-4">
                Sign in
            </button>
            <button type="button" class="bg-blue-500 hover:bg-blue-600 text-white w-24 h-10 rounded">
                Sign up
            </button>
        </div>
    </div>
</nav>
{% endblock header %}