{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game-Grader | Password</title>
    <!-- tailwind css -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
</head>

<body class="bg-gray-700">
    <div class="flex justify-center min-h-screen items-center">
        <div class="w-full max-w-xs">
            <form class="shadow-md rounded px-8 pt-6 pb-8 mb-4 bg-gray-400" method='POST'>{% csrf_token %}
                <div class="font-bold text-2xl mb-6 flex justify-center">Set Your Password</div>
                <label for="input-group-1"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">PASSWORD</label>
                <div class="relative mb-6">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                        </svg>
                    </div>
                    <input type="password" id="password" name='pass_word'
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Enter password">
                </div>
                <hr class="h-px mb-4 bg-gray-200 border-0 dark:bg-gray-700">
                <label for="input-group-2"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">CONFIRM PASSWORD</label>
                <div class="relative mb-6">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                        </svg>
                    </div>
                    <input type="password" id="confirm_password" name='confirm_password'
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Confirm password">
                </div>
                <hr class="h-px mb-4 bg-gray-200 border-0 dark:bg-gray-700">
                <div class="flex items-center justify-center">
                    <button class="rounded-full border-2 border-gray-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                      Set Password
                    </button>
                </div>
            </form>
            <br>
            {% if errors %}
                <ul>
                    {% comment %} {% for error in errors %} {% endcomment %}
                    <li>{{ error }}</li>
                    {% comment %} {% endfor %} {% endcomment %}
                </ul>
            {% endif %}
        </div>
    </div>
</body>

</html>